#wait
{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: white;
    opacity: 0.5;
    position: fixed;
    z-index:99;
    top: 0;
    left: 0;
}

body {
    font-family: "Verdana", "Arial", sans-serif;
    padding: 10px;
    background: black;
    color: white;
}

label {
    font-size: 12px;
    display: block;
    width : 200px;
}

button, div, select, table, input {
    margin: 5px;
    font-size: 12px;
}

input {
    font-size: 12px;
    background-color: black;
    color: white;
    display: block;
    width : 200px;
    border-style: none;
    border-bottom: solid white 1px;
}

div.title {
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
        body {
            font-size: 150%;
        }
        button, select, input {
            padding: 10px;
        }

}