#wait
{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: white;
    opacity: 0.5;
    position: fixed;

    z-index:99;
    top: 0px;
    left: 0px;
}

body {
    font-family: "Verdana", "Arial", sans-serif;
}

label {
    font-size: 12px;
    display: block;
    width : 200px;
}

input {
    font-size: 12px;
    display: block;
    width : 200px;
    border-style: none;
    border-bottom: solid black 1px;
    background-color: white;
}